<div class='design-box'>
    <div class="design-cover">
        <p>
            <%= desc %>
        </p>
        <a class="btn btn-primary" href='<%= link %>' target="_blank">
            Visit Site
        </a>
    </div>
    <%#= image_tag source, style: 'width:20vw; height:27vh;'  %>
    <%= image_tag source, style: 'width:100%; height:100%; border-radius: 10px;'  %>

    <div class="title-cover">
        <span><%= title %></span>
    </div>

</div>