<div class="header">Welcome To My Site!</div>
<div class="info">
    <div class="home-text">I am a web developer based in Toronto, Canada. I have spent the last 4 years pursuing a double major in Computer Science and Business while also gaining industry experience through a variety of internships. Check out some of my work below.</div>

    <div class="home-visuals">
        <div class="home-flex-container">
            <div class="home-flex-box">
                <a href="/projects">
                    <div class="cta-button">
                        <i class="fas fa-project-diagram icon fa-lg"></i>
                        Projects
                    </div>
                </a>
            </div>
            <div class="home-flex-box">
                <a href="/web_design">
                    <div class="cta-button">
                        <i class="far fa-window-restore icon fa-lg"></i>
                        Web Design
                    </div>
                </a>
            </div>
        </div>

    </div>

    <div></div>
</div>
