
<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<%= javascript_include_tag "mobile_nav_animations"  %>
	<meta charset="UTF-8">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

	<title>Luca Imbrogno - Experience</title>
</head>
<body>

<h1 id="main-title">LUCA IMBROGNO</h1>

<%= render :partial => "/utilities/mobile_nav" %>

<div class="wrapper">

    <div class="sidebar">
			<%= render :partial => "/utilities/header" %>
    </div>

    <div class="main_content">
      <%= render :partial => "/static_pages/experience_panels" %>
    </div>

</div>

</body>
</html>
