<ul>
    <a onclick="closeSideMenu()"><i class="fas fa-times" id="close-nav-icon"></i></a>
    <li><a href="/"></i>Home</a></li>
    <li><a href="/experiences"></i>Work Experience</a></li>
<!--    <li><a href="#"></i>Books</a></li>-->
    <li><a href="/projects"></i>Projects</a></li>
    <li><a href="/web_design"></i>Web Design</a></li>
    <li><a href="#"></i>Contact</a></li>
</ul>
<div class="social_media">
  <a href="https://www.linkedin.com/in/luca-imbrogno-3a959566/"><i class="fab fa-linkedin"></i></a>
  <a href="#"><i class="fab fa-github"></i></a>

</div>
