<ul>
<!--    <li class="sub-nav-item"><a href="/"></i>Home</a></li>-->
<!--    <li><a href="/experiences"></i>Work Experience</a></li>-->
<!--    <li><a href="#"></i>Books</a></li>-->

    <li class="nav-item"><div></i>WEB DEV</div></li>
    <li class="sub-nav-item"><a href="/stock_game">Trading Simulation</a></li>
    <li class="sub-nav-item"><a href="/corona_dashboard">Coronavirus</a></li>
    <li class="sub-nav-item"><a href="/story_grouping">Instagram Stories</a></li>

    <li class="nav-item"><div>DATA SCIENCE & ML</div></li>
    <li class="sub-nav-item"><a href="https://github.com/lucaimbrogno/data-science-projects/blob/master/Digit%20Calssification%20Conv.%20NN/mnist_digit_classfication.ipynb" target="_blank">Digit Classification</a></li>
    <li class="sub-nav-item"><a href="https://github.com/lucaimbrogno/data-science-projects/blob/master/Text%20Classification/text_classification.ipynb" target="_blank">Text Classification</a></li>
    <li class="sub-nav-item"><a href="https://github.com/lucaimbrogno/data-science-projects/blob/master/Stock%20Analysis/social_media.ipynb" target="_blank">Stock Analysis</a></li>

    <li class="nav-item"><div>OTHER PROJECTS</div></li>
    <li class="sub-nav-item"><a href="/amazon_tracker">Amazon Price Tracker</a></li>
    <li class="sub-nav-item"><a href="/arapp">AR App</a></li>
    <li class="sub-nav-item"><a href="/quidditch">Quidditch Database</a></li>

    <li class="nav-item"><div>BUSINESS</div></li>
    <li class="sub-nav-item"><a href="/web_design"></i>Web Design</a></li>
    <li class="sub-nav-item"><a href="/contact"></i>Contact</a></li>
</ul>
<div class="social_media">
  <a href="https://www.linkedin.com/in/luca-imbrogno-3a959566/" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
  <a href="https://github.com/lucaimbrogno" target="_blank"><i class="fab fa-github fa-lg"></i></a>

</div>
