<ul>
    <a onclick="closeSideMenu()"><i class="fas fa-times" id="close-nav-icon"></i></a>
    <li><a href="/"></i>Home</a></li>
    <li><a href="/experiences"></i>Experience</a></li>
    <li><a href="/stock_game"></i>Stock Trading Game</a></li>
    <li><a href="#"></i>Books</a></li>
	<li><a href="#"></i>Equity Spotlight</a></li>
    <li><a href="#"></i>AR App</a></li>
    <li><a href="#"></i>Contact</a></li>
</ul>
<div class="social_media">
  <a href="https://www.linkedin.com/in/luca-imbrogno-3a959566/"><i class="fab fa-linkedin"></i></a>
  <a href="#"><i class="fab fa-github"></i></a>

</div>
