<div class="mobile-nav-container">
    <nav class="mobile-nav">
        <a href="/">HOME</a> |
        <a href="/projects">PROJECTS</a> |
        <a href="/web_design">WEB DESIGN</a> |
        <a href="/contact">CONTACT</a>
    </nav>
</div>