
<div id="chart" style="height:400px;"></div>
<%= hidden_field_tag "aapl_time", @aapl_data[:time], { :id => "aapl_time" } %>
<%= hidden_field_tag "aapl_price", @aapl_data[:price], { :id => "aapl_price" } %>

<%= hidden_field_tag "time", @time, { :id => "time" } %>
<%= hidden_field_tag "price", @price, { :id => "price" } %>