// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    //background-color: #17252a !important;
    background: rgb(222, 242, 241);
    background: radial-gradient(circle, rgba(222, 242, 241, 1) 0%, rgba(54, 89, 101, 1) 35%, rgba(23, 37, 42, 1) 80%, rgba(23, 37, 42, 1) 80%);
}

#main-title {
    padding: 50px 0 0 120px;
    color: #DEF2F1;
}

.wrapper {
    display: flex;
    position: relative;
    padding: 40px 8vw 80px 8vw;
}

//hide mobile nav icons
#open-nav-icon {
    display: none;
}

#close-nav-icon {
    display: none;
}

@keyframes sidebarAnimation {
    0% {
        transform: rotate(0) translateX(-40%);
        opacity: 0;
    }
    100% {
        transform: rotate(0) translateX(0);
        opacity: 1;
    }
}


.wrapper .sidebar {
    width: 160px;
    height: 100%;
    background: inherit;
    padding-bottom:10px;
    position: absolute;
    animation: sidebarAnimation 0.5s forwards 0s linear;
}

.wrapper .sidebar h2 {
    color: #FEFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 10px 15px;
    border-bottom: 1px solid rgba(54, 89, 101, 0.5);
    border-top: 1px solid rgba(54, 89, 101, 0.5);

}

.wrapper .sidebar ul li a {
    color: #DEF2F1;
    display: block;
    text-align: left;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: rgba(54, 89, 101, 1);
}



.wrapper .sidebar .social_media {
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding-bottom: px;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background-color: rgba(54, 89, 101, 1);
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #3aafa9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper .sidebar .social_media a:hover {
    color: #17252a;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 160px;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, #FEFFFF 0%, rgba(219, 255, 253, 1) 63%, rgba(127, 255, 248, 1) 100%);
    border-left: 4px solid black;
    opacity: 90%;
    position:relative;
}

.wrapper .main_content .header {
    padding: 10px 0px 5px 20px;
    background: white;
    color: #17252a;
    border-bottom: 1px solid #e0e4e8;
    font-size: 200%;
    font-weight: bold;
    postition: relative;
}

.header > .cta-button {
    position: absolute;
    font-size: 16px;
    top: -12px;
    right: -20px;
    background-color: #3aafa9;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color:white !important;
}
.wrapper .main_content .info {
    margin: 20px;
    color: #717171;
    line-height: 25px;
}

.wrapper .main_content .info div {
    margin-bottom: 20px;
}

.home-visuals {
    display: block;
    margin: 40px 20px 20px 20px;
}

.home-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-flex-box {
    justify-content: center;
    width: 40%;
    padding: 1.5vw 1.5vw 60px 1.5vw;
    box-shadow: -4px -4px 5px 0 rgba(255, 255, 255, 0.75), 3px 3px 14px 0 rgba(0, 0, 0, 0.288);
    border-radius:8px;
    margin:20px;
    text-align: center;

}



.home-text {
    font-size: 30px;
    line-height: 6vh;
    margin: 40px;
    letter-spacing: 2px;
    text-align: center;
}

.cta-button {
    border-radius: 8px;
    padding: 10px;
    margin: 25px 60px;
    text-align: center;
    font-size: 1.5vw;
    color: #DEF2F1;
    //background: #2b7a78;
    background: #000;
    opacity: 90%;

}

.cta-button:hover {
    text-decoration: none;
    transform: scale(1.1);
    transition: ease-in;
    transition-duration: 0.1s;
    cursor: pointer;
}

.icon {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

/* === Experience Page ===*/

.experience-title {
    display: flex;

}

/* === AR App === */

.ar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ar-container > div {
    text-align: center;
}

.ar-pic {
    width:60%;
    margin:40px 10px;
    box-shadow: -12px -12px 10px 0 rgba(255, 255, 255, 1), 12px 12px 25px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.project-text {
    font-size: 1.75vw;
    line-height:2.25vw;
    width:90%;
    margin:60px;
    text-align: center;
}

.back {
    margin:0px 40px 5px 40px;
    padding:8px 12px;
    background: #3aafa9;
    border-radius: 5px;
    font-size: 15px;
    color:white !important;
    font-weight: lighter;
    position:absolute;
    top:75px;
    left:-16px;
}

.back:hover {
    text-decoration: none;
    background: #2196C3;
}

/* == Story Grouping Project == */

.story-pics {
    width:65%;
    text-align: left !important;
    display:flex;
}

.story-pics > img {
    box-shadow:  6px 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.story-arrow {
    margin:25% 40px;
    align-content: center;

}

.story-titles {
    display:flex;
    margin-bottom:0 !important;
    margin-top:50px;
}

.story-before {
    width:70%;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: larger;
}

.story-after {
    width:30%;
    text-align: center;
    color:black;
    text-decoration: underline;
    font-size: larger;
}

/* === QUIDDITCH START === */
.project-pic {
    display: flex;
    flex-wrap: wrap;
    padding:30px;
}

.project-pic> img {
    width:1000px;
    margin:30px auto;
    border-radius:4px;
    box-shadow: -12px -12px 10px 0 rgba(255, 255, 255, 1), 12px 12px 25px 0 rgba(0, 0, 0, 0.5);
}

/* === CONTACT START === */
.contact-flex {
    display: flex;
}

.contact-details {
    margin-top:70px;
    width:20%;
    border-left: 3px solid rgba(23, 37, 42, 1);
    padding-left:30px;
}

.contact-flex-container {
    display: flex;
    width:80%;
    max-height:100vh;
    align-items: center;
    flex-wrap: wrap;
}

.contact-flex-box {
    width:60%;
    height:100%;

}

#contact-form {
    padding: 12vh 100px 20px 100px;
    transition: all ease-in-out;
}

.form-control {
    border: none;
    outline: none;
    color: white;
    margin-bottom: 8px;
}



#contact-form .submit {
    background-color: #3aafa9;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-color: transparent;
    color:white;
    font-weight: 900 !important;
    letter-spacing: 2px;
    height: 50px;
}

#contact-form .submit:hover {
    background-color: #3aa2b9;
    cursor: pointer;
}

.contact-method {
    display:flex;
    margin: 50% 20px;

}
.contact-text {
    padding: 20px;
    line-height: 30px;
    font-weight:600;
    font-size:20px;
}


.contact-method > i {
    padding:10px;
}

//mobile optimization

@media only screen and (max-width: 600px) {

    //greatly reduce white space around edges of page
    .wrapper {
        padding: 10px 10px 10px 10px;
    }

    //remove nav bar from left side
    .wrapper .sidebar {
        display:none;
    }

    //center content after nav bar is gone
    .wrapper .main_content {
        margin-left: 0;
        border-left: none;
        display:block;
    }

    .home-text {
        font-size: 18px;
        line-height: 4vh;
        margin: 20px;
        letter-spacing: 1px;

    }

    .home-flex-box {
        justify-content: center;
        width: 100%;
        margin:10px;

    }

    .cta-button {
        border-radius: 8px;
        padding: 2px;
        margin: 18px 40px;
        text-align: center;
        font-size: 4vw;
        color: #DEF2F1;
        //background: #2b7a78;
        background: #000;
        opacity: 90%;

    }

    //render open and close icons on mobile
    #open-nav-icon {
        display: block;
        margin-top: 53px;
        margin-left: 40px;
        position: absolute;

    }
    #close-nav-icon {
        display: block;
    }

    .contact-flex-box {
        width:100%;

    }
}